$color-white: #fff;
$color-dark: #000;
$color-orange: #FFC85E;
$color-dark-orange: #FFC85E;
$color-orange-1: #FAAD14;
$color-orange-2: #FF9900;
$color-orange-3: #FFDE9C;
$color-red-1: #FF4D4F;
$color-red-2: #E4282A;
$color-red-3: #FFB4B4;
$color-green-1: #00C508;
$color-green-2: #05CA19;
$color-green-3: #05CA19;
$color-blue-primary: #002337;
$color-blue-1: #1890FF;
$color-blue-2: #006CCF;
$color-blue-3: #ABD7FF;
$color-text-4: #828B92;
$color-text-5: #CDD1D5;
$color-btn-hover: #FF9B25;
$color-btn-active: #FFC85E;
$color-btn-disable: #FFC85E;

$color-table-even: #F4F6FF;
$color-table-even-mobile: #dfe0e7;
$color-text-common: #2E3192;


//fonts
$font-root: 'Noto Serif';
$font-mont: 'Montserrat', sans-serif;

